<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>gamekit</string>
      <string>arm64</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.jagex.oldschool</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>jagex-jav</string>
          <string>osrs-launch</string>
        </array>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIInterfaceOrientation</key>
    <string>UIInterfaceOrientationLandscapeRight</string>
    <key>DTPlatformVersion</key>
    <string>12.0</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleName</key>
    <string>oldscape moe</string>
    <key>DTSDKName</key>
    <string>iphoneos12.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>MOE.Main.Class</key>
    <string>com.jagex.oldscape.ios.IOSMoeLauncher</string>
    <key>CFBundleDisplayName</key>
    <string>Old School RuneScape</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>DTSDKBuild</key>
    <string>16A366</string>
    <key>CFBundleShortVersionString</key>
    <string>176</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>17G65</string>
    <key>DTPlatformBuild</key>
    <string>16A366</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>10A255</string>
    <key>CFBundleVersion</key>
    <string>1760901</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>UIApplicationExitsOnSuspend</key>
    <false/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.jagex.oldschool</string>
    <key>DTXcode</key>
    <string>1000</string>
    <key>CFBundleExecutable</key>
    <string>oldscape moe</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTAppStoreToolsBuild</key>
    <string>10A247</string>
  </dict>
</plist>
